/* .box{

    height: 250px;
    width: 250px;
    background-color: aqua;
    border: 5px dotted black;
    
   
} */



/* #main{
    margin: 40px auto;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    margin: 10px auto;
}
li{
    padding: 10px;
    margin: 0 auto;
    color: aqua;
} */

.carousel-item >img{
    height: 600px;
}

span > a > img {
    margin-right: 10px;
    color: white;
}

.plusMinusDiv{
    height: 35px;
    width: 35px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    cursor: pointer;
}

.card{
    margin: 5px !important;
}

.plusMinusDiv:hover{
    background-color: #ccc;
}

.img-style {
    height: 200px !important;
}

.cartCard{
    height: 100px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 10px;
    border-radius:5px;
}

.btn-box{
    display: flex;
    justify-content: space-between;
}

.heart-btn{

    height: 35px !important;
    border-radius: 100%;
   
    
}
.heart-btn:active{

    height: 35px !important;
    border-radius: 100%;
    background-color: red;
    
}


/* .heart-btn{

    height: 35px !important;
    border-radius: 100%;
    
} */

.favorateBoxes{
    display: flex;
    justify-content: space-between;
}


.cartBoxes{
    display: flex;
    justify-content: space-between;
}